<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
  <h6 class="border-bottom border-gray p-3 mb-0">
    <i class="fas fa-handshake"></i> Academic Services
  </h6>
  <div class="px-3 py-2" style="font-size: 1rem;">
    <ul class="mb-0">
      <li><strong>Conference Reviewer:</strong> AAAI 2026, ICML 2025, ACM MM 2025, ICANN 2025, IJCNN 2025, ECCV 2024, ICONIP 2024/2025</li>
      <li><strong>Journal Reviewer:</strong> IEEE TCSVT(IF:11.1), npj Digital Medicine(IF:12.4)</li>
      <li><strong>Area Chair:</strong> IEEE PRAI 2022</li>
      <li><strong>IEEE Student Member</strong></li>
      <li><strong>APNNS Member</strong></li>
    </ul>
  </div>
</div>
