<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
  <h6 class="border-bottom border-gray p-3 mb-0">
    <i class="fas fa-handshake"></i> Academic Services
  </h6>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Area Chair, <strong>IEEE Student Member</strong></li>
    <li class="list-group-item">Reviewer, <strong>IEEE TCSVT</strong> (2024–)</li>
    <li class="list-group-item">Reviewer, <strong>ACMMM 2025</strong></li>
    <li class="list-group-item">Reviewer, <strong>ICML 2025</strong></li>
    <li class="list-group-item">Reviewer, <strong>ICANN 2025</strong></li>
    <li class="list-group-item">Reviewer, <strong>IJCNN 2025</strong></li>
    <li class="list-group-item">Reviewer, <strong>ECCV 2024</strong></li>
    <li class="list-group-item">Reviewer, <strong>ICONIP 2024</strong></li>
    <li class="list-group-item">Reviewer, <strong>ICTAI 2024</strong></li>
    <li class="list-group-item">Area Chair, <strong>IEEE PRAI 2022</strong></li>
  
  </ul>
</div>
